/* ranking-start */

.ranking {
    margin-bottom: 34px;
}

.ranking-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ranking-item {
    width: 156px;
    height: 65px;
    border: 1px solid #C2CFE0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 7px;
    margin-bottom: 9px;
}

.ranking-item-inner-addition span {
    display: block;
}

.ranking-item-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ranking-item-inner::after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #EAEEF4;
    bottom: 2px;
}

.ranking-item-number {
    font-weight: bold;
    font-size: 16px;
    color: #37474F;
}

.ranking-item-position {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
}

.ranking-item-top {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    color: #37474F;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.ranking-item-grow {
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    color: #FFFFFF;
}

.ranking-item-grow-red {
    background: #FB6868;
    padding: 2px 5px;
    border-radius: 2px;
    position: relative;
}

.ranking-item-grow-red::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FAEAEA;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../img/downArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ranking-item-grow-green {
    background: #27C19B;
    padding: 2px 5px;
    border-radius: 2px;
    position: relative;
}

.ranking-item-grow-green::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FAEAEA;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../img/upArrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ranking-item-keywords-numbers {
    font-size: 12px;
    line-height: 14px;
    color: #37474F;
    margin-left: 3px;
}

.keywords-keywords {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #9FA2B4;
    margin-left: 3px;
}


/* ranking-end */